/* ▼ WHERE YOUR CODE BEGINS */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Mulish', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  font-weight: 400;
}

.loading {
  width: 500px;
  height: 216px;
  background-color: #fff;
  padding: 80px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-title {
  font-size: 18px;
  line-height: 1.33333333333;
  color: #151b26;
  margin-bottom: 20px;
  animation-name: flicker;
  animation-duration: 1600ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.progress-bar {
  width: 300px;
  height: 12px;
  background-color: #e5eaef;
  border-radius: 100px;
  overflow: hidden;
}

.progress-bar-gauge {
  display: block;
  background-color: #13ce66;
  border-radius: 100px;
  width: 0;
  height: 100%;
  animation-name: loading-bar;
  animation-duration: 1600ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes loading-bar {
  0% {
    width: 0;
    opacity: 1;
  }

  80% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}
