.like-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ▼ WHERE YOUR CODE BEGINS */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.card {
  display: flex;
  font-weight: 400;
  color: #151b26;
  padding: 24px;
  width: 100%;
  max-width: 840px;
}

.card-image {
  position: relative;
  width: 300px;
  height: 200px;
  background-image: url('./assets/img-house.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  margin-right: 24px;
}

.like-button {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 100px;
  background-color: #fff;
  background-image: url('./assets/icon-favorite.svg');
  background-repeat: no-repeat;
  background-size: 21px auto;
  background-position: center center;
}

.card-content {
  flex-grow: 1;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.property-type {
  display: flex;
  margin-bottom: 8px;
}

.plus-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42857142857;
  color: #fff;
  background-color: #92174d;
  width: 48px;
  height: 22px;
  border-radius: 4px;
  margin-right: 8px;
}

.property-type span {
  font-size: 16px;
  line-height: 1.25;
  color: #7d858f;
}

/* .property-rate {
  font-size: 16px;
  line-height: 1.25;
  background-image: url('./assets/icon-star.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: left 1.25px;
  padding-left: 20px;
} */

.property-rate {
  font-size: 16px;
  line-height: 1.25;
}

.property-rate::before {
  content: '';
  padding-left: 20px;
  background-image: url('./assets/icon-star.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: left 3.5px;
}

.card-title {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 16px;
}

.property-detail {
  font-size: 14px;
  line-height: 1.14285714286;
  color: #7d858f;
}

.property-detail div:first-child {
  margin-bottom: 8px;
}

.property-detail dd span::after {
  content: '·';
  margin: 0 8px;
}

.property-detail dd span:last-child::after {
  content: '';
}
